<%= form_for(restaurant) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <!-- <%= f.text_field :rating %> -->
    <%= f.number_field :rating, min: 0, max: 5%>
  </div>

  <div class="field">
    <%= f.label :tenbis %>
    <%= f.check_box :tenbis %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :delivery_time %>
    <%= f.number_field :delivery_time, step: 5, min: 0%>Minutes
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
