<link href = "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel = "stylesheet">

<p id="notice"><%= notice %></p>

<header>
  <div class="header_content">

    <div class="title">
      <h1>WeEat</h1>
      <h6>It’s 12:00 and you’re hungry.</h6>
    </div>

    <form class="search">
      <%=text_field_tag :name, nil, placeholder: 'Find a restaurant'%>
      <input type="submit" value="Submit">
    </form>
  </div>
</header>

<div class=".container">

  <form class="row filters form-inline">

    <div class="col-md-3">
        Cuisine <br>
        <select id="user_id" name="user_id">
          <option value="1">Brad</option>
          <option value="2">Angie</option>
          <option value="3">Jenny</option>
        </select>
    </div>
    <div class="col-md-3">
        Cuisine <br>
        <select id="user_id" name="user_id">
          <option value="1">Brad</option>
          <option value="2">Angie</option>
          <option value="3">Jenny</option>
        </select>
    </div>
    <div class="col-md-3">
        Cuisine <br>
        <select id="user_id" name="user_id">
          <option value="1">Brad</option>
          <option value="2">Angie</option>
          <option value="3">Jenny</option>
        </select>
    </div>

    <div class="col-md-3">
      <input type="submit" value="Submit" class="col-md-12">
    </div>

  </form>

  <div class="row">
    <div class="col-md-4 restaurants">
      <div class="restaurant">
        <div class="restaurant_content">
          <span class="genre">
            a
          </span>
          <span class="name">
            Moses
          </span>
          <div class="rating">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>
        </div>
      </div>
      <div class="restaurant">
        <div class="restaurant_content">
          <span class="genre">
            a
          </span>
          <span class="name">
            Moses
          </span>
          <div class="rating">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>
        </div>
      </div>
      <div class="restaurant">
        <div class="restaurant_content">
          <span class="genre">
            a
          </span>
          <span class="name">
            Moses
          </span>
          <div class="rating">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Rating</th>
      <th>Tenbis</th>
      <th>Address</th>
      <th>Delivery time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.genre %></td>
        <td><%= restaurant.rating %></td>
        <td><%= restaurant.tenbis %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.delivery_time %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->








<!-- <div class="dropdown">
<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Dropdown button
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>
</div> -->



</body>
</html>








<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
